@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-background {
  position: relative;
}

.grid-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
  /* Adjust the grid size */
  z-index: 1;
  /* Ensure the grid is behind other content */
}